<nav class="sb-topnav navbar navbar-expand navbar-bg">
  <!-- Navbar Brand-->

  <a class="navbar-brand navbar-logo-space" [href]="dashboardLink">
    <img
      src="../../../../assets/logo/full-logo.svg"
      alt="Logo"
      class="w-8 h-8" />
  </a>

  <!-- Navbar Search-->
  <form
    class="my-2 d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-md-0">
    <div class="input-group">
      <button
        class="border-0 btn-cvu fw-semibold"
        id="btnNavbarSearch"
        type="button">
        Mi CVU
      </button>
    </div>
  </form>
</nav>
