.sb-topnav {
    height: 4.375rem;
    z-index: 1039;
}
.navbar-expand {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* custom class */
.navbar-logo-space{
    margin: 1.25rem 0 1.25rem 5.3125rem;
}
.navbar-bg{
    background-color: var(--sColorBlank);
}

.btn-cvu{
    margin: 0.8125rem 5.3125rem  0.8125rem  0;
    padding: 0.75rem  1.25rem ;
    border-radius: 0.9375rem ;
    /* border-style: none; */
    background-color: var(--sColorSecondary100);
    font-size: var(--fontSizeBtnLink2);
    line-height: var(--lineHeightBtnLink2);
    color: var(--pColorPrimary);
   
}

.btn-cvu:hover{
    background-color: var(--sColorSecondary700);
    color: white;
    transition: all 0.5s ease-in-out 0.2s;
}
