<div class="register-container d-flex">
  <section class="register-img-box col-7">
    <img src="../../../assets/auth/register.jpg" class="register-img" alt="">
  </section>
  <section id="form-wrapper" class="col-5">
    <img src="../../../assets/logo/Logo.svg" class="EzPay-logo" alt="EzPay logo">
    <img src="../../../assets/logo/Tipografia.svg" class="EzPay-name" alt="EzPay">
    <form action="#" id="form-register" method="post" novalidate>
      <input type="text" name="name" required id="name" class="form-input" placeholder="Nombre">
      <input type="email" name="email" required id="email" class="form-input" placeholder="E-mail">
      <input type="password" name="password" required id="password" class="form-input" placeholder="Contraseña">
      <input type="text" name="phone" required id="phone" class="form-input" placeholder="Teléfono">
      <input type="text" name="dni" required id="dni" class="form-input" placeholder="N° Documento">
      <input type="date" name="date" required id="date" class="form-input" placeholder="Fecha de Nacimiento">
      <button class="form-button" type="submit">&nbsp;Registrarse</button>
      <div class="form-login">
        <p>¿Tienes una cuenta?,</p><a routerLink="#">Ingresa</a>
      </div>
    </form>
  </section>
</div>