<!-- <a routerLink="register">Crear cuenta</a>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->

  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezpay</title>
    <meta name="description" content="Ezpay is a virtual wallet system to save your cards">
    <meta name="image" content="https://Ezpay.com/og.png">
    <meta name="author" content="Ezpay team">
    <meta name="keywords" content="">
  
  
    <meta property="og:title" content="Ezpay">
    <meta property="og:description" content="Ezpay is a virtual wallet system to save your cards.">
    <meta property="og:url" content="https://Ezpay.com/">
    <meta property="og:site_name" content="Ezpay">
    <meta property="og:locale" content="es_419">
    <meta property="og:image" content="https://Ezpay/og.png">
    <meta property="og:type" content="website">
  
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Ezpay">
    <meta property="twitter:description" content="Ezpay is a virtual wallet system to save your cards.">
    <meta property="twitter:url" content="https://Ezpay.com/">
    <meta property="twitter:image" content="https://Ezpay/og.png">
  
    <link rel="author" href="https://Ezpay/og.png">
  
    <link rel="icon" type="image/png" sizes="512x192" href="../assets/favicon/android-chrome-512x512.png">
    <!-- <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon/site.webmanifest">
  
  
  </head>
  
  <body>
    <header class="header">
      <div class="wrapper">
        <div class="p-4 d-flex justify-content-between border-bottom">
          <div class="d-flex align-items-center">
            <img src="https://placehold.co/40x40" alt="Logo" class="w-8 h-8" />
            <span class="text-primary font-weight-bold h2">ezpay</span>
          </div>
          <nav class="gap-5 d-flex align-items-center nav-links">
            <a href="#" class="text-secondary text-decoration-none fw-normal ">Funciones</a>
            <a href="#" class="text-secondary text-decoration-none fw-normal">Ayuda (FAQ)</a>
          </nav>
          <div class="gap-3 d-flex align-items-center justify-content-between">
            <button class="px-4 py-2 btn btn-custom-one">Iniciar sesión</button>
            <button class="px-4 py-2 btn btn-custom-two">Crear cuenta</button>
          </div>
        </div>
      </div>
  
    </header>
  
  
    <main class="">
  
      <section id="hero" class="hero">
        <div class="gap-5 p-0 wrapper h-100 d-flex flex-column align-items-start justify-content-start ">
          <h1 class="fw-semibold hero-heading">La forma <span class="hero-heading-custom">mas facil y <br> segura</span>
            de enviar y recibir <br> pagos
            online</h1>
          <a class="text-center hero-btn text-decoration-none fw-semibold" href="#">Crear cuenta</a>
        </div>
      </section>
  
      <section id="functions" class="wrapper">
        <h2 class="text-center function-heading">Funciones</h2>
        <div class="flex-wrap gap-3 function-cards d-flex align-items-center justify-content-center">
          <div class="function-card">
            <div class="card" style="width: 18rem;">
              <img src="../assets/cards/airam-dato-on-T90gWliuCQQ-unsplash.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
               
              </div>
            </div>
          </div>
          <div class="border function-card">
            <div class="m-5 card" style="width: 18rem;">
              <img src="../assets/cards/glen-anthony-qGebG5t7cOw-unsplash.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
              </div>
            </div>
          </div>
          <div class="border function-card">
            <div class="m-5 card" style="width: 18rem;">
              <img src="../assets/cards/brooke-cagle-cx-cNkx7f6Y-unsplash.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
  
    </main>
  
  </body>
  
  </html>
  
  
  
 
<router-outlet></router-outlet>