<div class="login-container d-flex">
    <section class="login-img-box col-7">
        <img src="../../../assets/auth/login.jpg" class="login-img" alt="">
    </section>
    <section id="form-wrapper" class="col-5">
        <img src="../../../assets/logo/Logo.svg" class="EzPay-logo" alt="EzPay logo">
        <img src="../../../assets/logo/Tipografia.svg" class="EzPay-name" alt="EzPay">
        <form action="#" id="form-login" method="post" novalidate>
          <input type="email" name="email" required id="email" class="form-input" placeholder="Correo Electrónico">
          <input type="password" name="password" required id="password" class="form-input" placeholder="Contraseña">
          <p class="reset-password">¿Olvidaste tu contraseña?</p>
          <button class="form-button" type="submit">&nbsp;Ingresar</button>
          <div class="form-register">
            <p>¿No tienes cuenta?</p><a routerLink="/register">Regístrate</a>
          </div>
        </form>
      </section>
</div>
