.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.login-img {
    height: 100%;
    width: 100%;
}

#form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 60px;
    overflow-y: scroll;
}

.EzPay-logo {
    width: 168px;
    height: 112px;
}

.EzPay-name {
    width: 190px;
    height: 67px;
    margin-bottom: 30px;
}


#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form-input {
    width: 399px;
    height: 50px;
    border: 1px solid rgba(113, 113, 113, 1);
    border-radius: 15px;
    padding-left: 15px;
}

.reset-password {
    align-self: flex-end;
    font-weight: bold;
}

.form-button {
    background-color: rgb(35, 146, 247);
    color: white;
    width: 190px;
    height: 50px;
    border-radius: 15px;
    padding: 1px 24px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.form-register {
    display: flex;
    flex-direction: row;
}

.form-register p {
    margin-right: 5px;
}

.form-register a {
    text-decoration: none;
}