.sidebar{
  /* max-height:90vh;
  height: 100%; */
}
.sidebar-bg{
  background-color: var(--sColorBlank);
}

.sidebar-container{
  padding: 80px 40px;
}

.content{
  background-color: var(--pColorBackgound);
}

/* @media only screen and (max-width: 576px) {
  .sidebar-container{
    min-height: 0vh;
 
    height: 0%;
    padding: 20px 10px;
  }
} */

/* flex-row border d-flex flex-sm-column flex-nowrap sidebar-bg align-items-center sidebar-container justify-content-sm-center sticky-top */

/* flex-row px-3 mx-auto mb-auto text-center nav nav-pills nav-flush flex-sm-column justify-content-sm-between align-items-sm-center flex-nowrap w-100 */