<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ezpay</title>
    <meta
      name="description"
      content="Ezpay is a virtual wallet system to save your cards" />
    <meta name="image" content="https://Ezpay.com/og.png" />
    <meta name="author" content="Ezpay team" />
    <meta name="keywords" content="" />

    <meta property="og:title" content="Ezpay" />
    <meta
      property="og:description"
      content="Ezpay is a virtual wallet system to save your cards." />
    <meta property="og:url" content="https://Ezpay.com/" />
    <meta property="og:site_name" content="Ezpay" />
    <meta property="og:locale" content="es_419" />
    <meta property="og:image" content="https://Ezpay/og.png" />
    <meta property="og:type" content="website" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Ezpay" />
    <meta
      property="twitter:description"
      content="Ezpay is a virtual wallet system to save your cards." />
    <meta property="twitter:url" content="https://Ezpay.com/" />
    <meta property="twitter:image" content="https://Ezpay/og.png" />

    <link rel="author" href="https://Ezpay/og.png" />

    <link
      rel="icon"
      type="image/png"
      sizes="512x192"
      href="../assets/favicon/android-chrome-512x512.png" />
    <!-- <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-chrome-192x192.png"> -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/favicon/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../assets/favicon/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../assets/favicon/favicon-16x16.png" />
    <link rel="manifest" href="../assets/favicon/site.webmanifest" />
  </head>

  <body>
    <header class="header">
      <div class="px-0 py-0 wrapper">
        <div class="p-4 d-flex justify-content-between border-bottom">
          <div class="d-flex align-items-center">
            <img src="https://placehold.co/40x40" alt="Logo" class="w-8 h-8" />
            <span class="text-primary font-weight-bold h2">ezpay</span>
          </div>
          <nav class="gap-5 d-flex align-items-center nav-links">
            <a href="#" class="text-secondary text-decoration-none fw-normal"
              >Funciones</a
            >
            <a href="#" class="text-secondary text-decoration-none fw-normal"
              >Ayuda (FAQ)</a
            >
          </nav>
          <div class="gap-3 d-flex align-items-center justify-content-between">
            <button (click)="login()" class="px-4 py-2 btn btn-custom-one">Iniciar sesión</button>
            <button (click)="register()" class="px-4 py-2 btn btn-custom-two">Crear cuenta</button>
          </div>
        </div>
      </div>
    </header>

    <main class="main-content">
      <section id="hero" class="hero">
        <div
          class="gap-5 p-0 wrapper h-100 d-flex flex-column align-items-start justify-content-start">
          <h1 class="fw-semibold hero-heading">
            La forma
            <span class="hero-heading-custom"
              >mas facil y <br />
              segura</span
            >
            de enviar y recibir <br />
            pagos online
          </h1>
          <a
            class="text-center hero-btn text-decoration-none fw-semibold"
            href="#"
            >Crear cuenta</a
          >
        </div>
      </section>

      <section id="functions" class="functions wrapper">
        <h2 class="text-center function-heading title-spacing">Funciones</h2>

        <div
          class="flex-wrap gap-4 function-cards d-flex align-items-center justify-content-center">
          <div class="function-card">
            <div class="content-card">
              <img
                src="../assets/cards/airam-dato-on-T90gWliuCQQ-unsplash.jpg"
                loading="lazy"
                class="card-image"
                alt="..." />
              <div class="py-1 card-text-body d-flex flex-column">
                <a href="#" class="card-link text-decoration-none fw-semibold"
                  >Crear tu cuenta</a
                >
                <h2 class="card-title">
                  Ten una cuenta gratis y sin burocracia
                </h2>
                <p class="card-text">
                  100% digital, la abrís en minutos y podés manejar tus finanzas
                  como quieras.
                </p>
              </div>
            </div>
          </div>

          <div class="function-card">
            <div class="content-card">
              <img
                src="../assets/cards/glen-anthony-qGebG5t7cOw-unsplash.jpg"
                loading="lazy"
                class="card-image"
                alt="..." />
              <div class="py-1 card-text-body d-flex flex-column">
                <a href="#" class="card-link text-decoration-none fw-semibold"
                  >Transferencias</a
                >
                <h2 class="card-title">Mueve tu dinero fácilmente</h2>
                <p class="card-text">
                  Envía y recibe dinero en diferentes divisas y a cualquier
                  lugar del mundo. Rápido, seguro y siempre transparente.
                </p>
              </div>
            </div>
          </div>
          <div class="function-card">
            <div class="content-card">
              <img
                src="../assets/cards/brooke-cagle-cx-cNkx7f6Y-unsplash.jpg"
                loading="lazy"
                class="card-image"
                alt="..." />
              <div class="py-1 card-text-body d-flex flex-column">
                <a href="#" class="card-link text-decoration-none fw-semibold"
                  >Tarjetas</a
                >
                <h2 class="card-title">
                  Asocia en tu cuenta todas las tarjetas de confianza
                </h2>
                <p class="card-text">
                  Simplifica tu vida financiera y gestiona todas tus tarjetas en
                  un solo lugar con EZPay.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="questions" class="question wrapper">
        <div class="mb-5 question__container">
          <h2 class="text-center question-heading title-spacing">
            Preguntas frecuentes
          </h2>

          <div
            class="gap-4 accordion d-flex flex-column question-content align-items-center"
            id="accordionExample">
            <div class="accordion-item question-item">
              <h2 class="accordion-header">
                <button
                  class="shadow-none accordion-button collapsed fw-normal"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne">
                  ¿Qué necesito para abrir una cuenta en EZPay?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h3 class="question-list-heading fw-normal">
                    Para abrirte una cuenta en EZPay solo necesitás:
                  </h3>
                  <ul class="question-list">
                    <li class="question-list-item">
                      Un dispositivo donde puedas acceder a la web de EZPay.
                    </li>
                    <li class="question-list-item">
                      Tener numero de teléfono.
                    </li>
                    <li class="question-list-item">Ser mayor de 18 años.</li>
                    <li class="question-list-item">Tener DNI.</li>
                  </ul>
                  <p class="mt-5 fw-normal question-paragraph">
                    ¡Y listo! Con tan solo esos requerimientos ya podes
                    disfrutar de EZPay.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item question-item">
              <h2 class="accordion-header">
                <button
                  class="shadow-none accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo">
                  ¿Puedo enviar dinero a amigos y familiares con EZPay?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="fw-normal question-paragraph">
                    Sí, con EZPay puedes enviar dinero a amigos y familiares de
                    manera rápida y segura. Simplemente selecciona la opción
                    "Enviar Dinero" en la aplicación, ingresa los detalles del
                    destinatario y la cantidad que deseas enviar, y confirma la
                    transacción.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item question-item">
              <h2 class="accordion-header">
                <button
                  class="shadow-none accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree">
                  ¿Qué hago si olvido mi contraseña?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="fw-normal question-paragraph">
                    Si olvidas tu contraseña, puedes restablecerla fácilmente.
                    En la página de inicio de sesión, haz clic en "¿Olvidaste tu
                    contraseña?" y sigue las instrucciones para recibir un
                    enlace de restablecimiento en tu correo electrónico. Si
                    tienes problemas, nuestro equipo de soporte está disponible
                    para ayudarte.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item question-item">
              <h2 class="accordion-header">
                <button
                  class="shadow-none accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour">
                  ¿Cómo puedo asociar mis tarjetas de crédito y débito a mi
                  cuenta EZPay?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="fw-normal question-paragraph">
                    Puedes asociar tus tarjetas de crédito y débito a tu cuenta
                    EZPay fácilmente. Simplemente inicia sesión en tu cuenta,
                    dirígete a la sección de "Métodos de Pago" y selecciona
                    "Agregar Tarjeta". Ingresa los detalles de tu tarjeta y
                    sigue las instrucciones para completar el proceso de
                    verificación.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item question-item">
              <h2 class="accordion-header">
                <button
                  class="shadow-none accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive">
                  ¿Cuántas tarjetas puedo asociar a mi cuenta EZPay?
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="fw-normal question-paragraph">
                    Puedes asociar múltiples tarjetas de crédito y débito a tu
                    cuenta EZPay sin ningún límite específico. Esto te permite
                    gestionar todas tus finanzas desde una sola plataforma,
                    facilitando tus pagos y el seguimiento de tus gastos.
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item question-item">
              <h2 class="accordion-header">
                <button
                  class="shadow-none accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSix"
                  aria-expanded="false"
                  aria-controls="collapseSix">
                  ¿EZPay cobra alguna tarifa por sus servicios?
                </button>
              </h2>
              <div
                id="collapseSix"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="fw-normal question-paragraph">
                    EZPay es gratuito para la mayoría de las transacciones
                    cotidianas, como enviar y recibir dinero entre amigos y
                    familiares. Sin embargo, pueden aplicarse tarifas para
                    ciertos servicios premium o transacciones internacionales.
                    Consulta nuestra página de tarifas y políticas para más
                    detalles específicos.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <section class="footer">
        <div
          class="flex-wrap gap-1 d-flex flex-column align-items-center justify-content-center footer__container">
          <div class="footer__item">
            <img
              loading="lazy"
              class="footer__img footer__img--1 d-block"
              id="logo"
              src="../assets/logo/Logo.svg"
              alt="logo ezpay" />
          </div>
          <div class="footer__item">
            <img
              loading="lazy"
              class="footer__img footer__img--2 d-block"
              id="text logo"
              src="../assets/logo/Tipografia.svg"
              alt="text ezpay" />
          </div>
          <div
            class="flex-wrap gap-2 mt-3 footer__item footer__social d-flex justify-content-between">
            <a id="to-instragram" class="footer__link" href="#">
              <img
                loading="lazy"
                class="footer__socialimg"
                id="instagram"
                src="../assets/social__media/instagram.svg"
                alt="instagram" />
            </a>
            <a id="to-facebook" class="footer__link" href="#">
              <img
                loading="lazy"
                class="footer__socialimg"
                id="facebook"
                src="../assets/social__media/facebook.svg"
                alt="facebook" />
            </a>
            <a id="to-twitter" class="footer__link" href="">
              <img
                loading="lazy"
                class="footer__socialimg"
                id="twitter"
                src="../assets/social__media/twitter.svg"
                alt="twitter" />
            </a>
          </div>
          <p class="footer__paragraph">© Todos los derechos reservados</p>
        </div>
      </section>
    </footer>
  </body>
</html>
